# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.polly-examples.iml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\Repositories\GitHub\polly-examples\.idea\.idea.polly-examples.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
